<div class="min-h-screen bg-lavender p-4 pb-20 md:pb-4">
  <div class="max-w-md mx-auto">
    <%= render "daily/focus", student: @student, date: @date, subjects: @subjects, completions: @completions %>
  </div>
</div>
