<%# locals: (weekly_grid:, daily_focus:) %>
<%# Responsive layout: mobile single column, tablet 60/40 split %>

<%# Mobile: Show weekly grid only (Daily Focus accessed via bottom nav) %>
<div class="md:hidden">
  <%= weekly_grid %>
</div>

<%# Tablet+: Duet split view (60/40) %>
<div class="hidden md:grid md:grid-cols-5 gap-4 h-[calc(100vh-4rem)]">
  <div class="col-span-3 overflow-auto">
    <%= weekly_grid %>
  </div>
  <div class="col-span-2 overflow-auto">
    <%= turbo_frame_tag "daily_focus" do %>
      <%= daily_focus %>
    <% end %>
  </div>
</div>
